@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section>
    <div class="d-flex flex-row justify-content-center ">
        <div class="m-4">
            <form action="/">
                <div class="form-group ">
                    <select class="form-control  " id="location" name="location">
                        <option>Location</option>
                        <option>BarElias</option>
                        <option>Zahle</option>
                        <option>Beirut</option>
                        <option>Marj</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="m-4 ">
            <div class="row">
                <div class="form-outline">
                    <input type="search" id="form1" class="form-control h-100 " placeholder="Search" />

                </div>
                <button type="button" class="btn btn-primary">
                    <i class="fa fa-search"></i>
                </button>
            </div>


        </div>


    </div>
</section>

<!-- markets -->

<section>

    <div id="market-cards" class="d-flex justify-content-center flex-wrap">
        @foreach (var market in Model)
        {
            <div class="card p-4 m-4 " style="width:400px height:500px">
                <img class="card-img-top" src="@market.Image" alt="Super1" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">@market.Name</h4>
                    <p class="card-text">
                        Opens: @market.Open
                    </p>
                    <p>Closes: @market.Close</p>
                    <a asp-action="ViewItems" class="btn btn-primary">Start Shopping</a>
                </div>
            </div>
        }
    </div>
</section>